@charset "utf-8";
/* CSS Document */

#menu{
	width:45%;
	margin-left:19%;
	float:left;
	height:auto;
	font-size:16px;
	color:#000000;
}
ul {
    list-style-type:none;
	width:100%;
    margin:0;
    padding:0;
    position: absolute;
	float:left;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
	width:14%;
	margin-top:20px;
    float: left;
}
/*Style for menu links*/
li a {
	float:left;
    display:block;
    text-align: center;
    line-height: 50px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#000000;
	height:35px;
    background: none;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: none;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 980px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
	li {
    display:inline-block;
	width:auto;
	margin-top:0;
    float: left;
	}
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
		background:#53bc49;
		font-size:50px;
		line-height:50px;
		height:auto;
		margin-bottom:0;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
		width:60%;
		margin-left:20%;
		background:none;
    }
	#menu{
		color:#FFFFFF;
		width:100%;
		margin-top:20px;
		margin-left:0;
	}
}